:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --my-var-header-logo-size: 60px;
    --my-var-main-min-height: 640px;
    --my-var-error-messages-font-size: 1rem;
}

@font-face {
    font-family: mainFont;
    src: url("/fonts/HWYGOTH.TTF");
}

@font-face {
    font-family: secondFont;
    src: local("Roboto");
}

body {
    margin: 0px 0px;
}

header,
footer {
    display: flex;
    background-color: var(--my-var-main-bg-color);
}

header {
    padding: 10px 10px;
}

footer {
    padding: 30px;
}

main {
    min-height: var(--my-var-main-min-height);
    padding: 20px;
    font-family: secondFont;
}

h1 {
    margin-bottom: 0px !important;
    font-size: 2.1em !important;
    line-height: 1.1 !important;
    color: var(--my-var-h1-color) !important;
    text-shadow: var(--my-var-h1-shadow-color) 3px 3px;
    font-family: mainFont;
}

h2 {
    margin-bottom: 40px !important;
    font-size: 1.6em !important;
    color: var(--my-var-h2-color) !important;
    font-family: mainFont;
}

h3 {
    margin: 10px 0px !important;
    font-size: 1.4em !important;
    color: var(--my-var-h3-color) !important;
}

h4 {
    margin: 10px 0px !important;
    font-size: 1.1em !important;
    color: var(--my-var-h4-color) !important;
}

a {
    font-weight: 500;
}

.clickable {
    text-decoration: underline;
}

a:hover,
.link-icon:hover,
.header-logo:hover,
input[type="checkbox"]:hover,
.clickable:hover {
    opacity: 0.5;
    cursor: pointer;
}

a:link {
    color: var(--bs-primary);
}

a:visited {
    color: var(--bs-secondary) !important;
}

input[type="checkbox"] {
    margin-left: 0.5em;
}

.header-logo {
    height: var(--my-var-header-logo-size);
    width: var(--my-var-header-logo-size);
}

.underlined-text {
    text-decoration: underline;
}

.noselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.full-centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    position: absolute;
    bottom: -30px;
    color: var(--my-var-error-color);
    background-color: var(--my-var-bg-error-color);
    border-radius: 10px;
    padding: 0px 20px;
    font-size: var(--my-var-error-messages-font-size);
    animation: highlightsErrorMessage 0.5s linear 0s 1 normal;
}

@keyframes highlightsErrorMessage {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
