:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --my-var-header-logo-size: 60px;
    --my-var-main-min-height: 640px;
}

@font-face {
    font-family: mainFont;
    src: url("/fonts/HWYGOTH.TTF");
}

body {
    margin: 0px 0px;
}

header,
footer {
    display: flex;
    background-color: var(--my-var-main-bg-color);
}

header {
    padding: 10px 10px;
}

footer {
    padding: 30px;
}

main {
    min-height: var(--my-var-main-min-height);
    padding: 20px;
}

h1 {
    margin-bottom: 0px !important;
    font-size: 2.1em !important;
    line-height: 1.1 !important;
    color: var(--my-var-h1-color) !important;
    text-shadow: var(--my-var-h1-shadow-color) 3px 3px;
}

h2 {
    margin-bottom: 40px !important;
    font-size: 1.6em !important;
    color: var(--my-var-h2-color) !important;
}

h3 {
    margin: 10px 0px !important;
    font-size: 1.4em !important;
    color: var(--my-var-h3-color) !important;
}

h4 {
    margin: 10px 0px !important;
    font-size: 1.1em !important;
    color: var(--my-var-h4-color) !important;
}

a {
    font-weight: 500;
}

a:hover,
.link-icon:hover,
.header-logo:hover {
    opacity: 0.5;
    cursor: pointer;
}

a:link {
    color: var(--bs-primary);
}

a:visited {
    color: var(--bs-secondary) !important;
}

input[type="checkbox"] {
    margin-left: 0.5em;
}

.header-logo {
    height: var(--my-var-header-logo-size);
    width: var(--my-var-header-logo-size);
}

.underlined-text {
    text-decoration: underline;
}

.error-message {
    color: red;
}
