:root {
    font-weight: 200;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --my-var-header-logo-size: 50px;
}

@font-face {
    font-family: mainFont;
    src: url("/fonts/PlaywriteDEGrund.ttf");
}

body {
    margin: 0px 0px;
}

header,
footer {
    display: flex;
    background-color: var(--my-var-main-bg-color);
}

header {
    padding: 10px 10px;
}

footer {
    padding: 30px;
}

main {
    min-height: 640px;
    padding: 20px;
}

h1 {
    font-size: 2em !important;
    line-height: 1.1 !important;
    color: var(--my-var-h1-color) !important;
}

h2 {
    font-size: 1.8em !important;
    color: var(--my-var-h2-color) !important;
}

h3 {
    margin: 10px 0px !important;
    font-size: 1.5em !important;
    color: var(--my-var-h3-color) !important;
}

h4 {
    margin: 10px 0px !important;
    font-size: 1.2em !important;
    color: var(--my-var-h4-color) !important;
}

a {
    font-weight: 500;
    color: var(--my-var-link-color);
}

a:hover {
    opacity: 0.5;
    cursor: pointer;
}

.header-logo {
    height: var(--my-var-header-logo-size);
    width: var(--my-var-header-logo-size);
    margin: 0px 30px 0px 15px;
}

.underlined-text {
    text-decoration: underline;
}
