:root {
    --my-var-main-bg-color: #e9dbdd;
    --my-var-link-color: #438ba8;
    --my-var-h1-color: #9a5d66;
    --my-var-h2-color: #9a5d66;
    --my-var-h3-color: #ff5240;
    --my-var-h4-color: #ec994b;
    --my-var-card-bg-color: #fffaee;
    --my-var-card-shadow-color: #9a5d66;
}
