/**************************************************
 * PROVIDES VALUES SPECIFIC TO THE DISPLAYED THEME
 **************************************************/

:root {
    --my-var-main-bg-color: #ffe7d5;
    --my-var-h1-color: rgb(255, 105, 97);
    --my-var-h1-shadow-color: white;
    --my-var-h2-color: var(--bs-secondary);
    --my-var-h3-color: #ff5240;
    --my-var-h4-color: #ec994b;
    --my-var-card-bg-color: #fff5ed;
    --my-var-card-shadow-color: rgb(255, 195, 192) !important;
    --my-var-good-feeling-color: #ff5e7b;
    --my-var-bad-feeling-color: gray;
    --my-var-error-color: rgb(255, 65, 95);
    --my-var-bg-error-color: #fff6ef;
    --my-var-shadow-status-badge: #eea4a0;
    --my-var-scroll-up-down-bg-color: rgb(255, 105, 97);
    --my-var-scroll-up-down-arrows-color: white;
}
