:root {
    font-family: mainFont, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 200;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --my-var-extremities-bg-color: rgb(232, 255, 246);
    --my-var-header-logo-size: 50px;
}

@font-face {
    font-family: mainFont;
    src: url("/fonts/PlaywriteDEGrund.ttf");
}

body {
    margin: 0px 0px;
}

header,
footer {
    display: flex;
    background-color: var(--my-var-extremities-bg-color);
}

main {
    min-height: 640px;
    padding: 20px;
}

h1 {
    font-size: 2em;
    line-height: 1.1;
    color: #8e41ff;
}

h2 {
    font-size: 1.8em;
    color: #8e41ff;
}

h3 {
    margin: 10px 0px;
    font-size: 1.5em;
    color: #ff5240;
}

h4 {
    margin: 10px 0px;
    font-size: 1.2em;
    color: #ec994b;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

.header-logo {
    height: var(--my-var-header-logo-size);
    width: var(--my-var-header-logo-size);
    margin: 0px 30px 0px 15px;
}

.underlined-text {
    text-decoration: underline;
}
